In [2]:
import pandas as pd
from ast import literal_eval
from sqlalchemy import create_engine
from config import password
import numpy as np

# Netflix titles csv

In [3]:
csv_path = 'kaggle_netflix_titles.csv'
netflix_df = pd.read_csv(csv_path)
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

## Netflix movies by country

In [4]:
# Removing TV Show types as we just need to focus on Movies
netflix_df = netflix_df.loc[netflix_df['type'] == 'Movie']

movie_country_df = netflix_df[['title' , 'country']]
movie_country_df.rename(columns={'title':'movie_title'},inplace=True)
movie_country_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5377 entries, 1 to 7786
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_title  5377 non-null   object
 1   country      5147 non-null   object
dtypes: object(2)
memory usage: 126.0+ KB

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [5]:
# Cleaning Netflix Movies DataFrame
clean_netflix_df1 = movie_country_df.loc[movie_country_df['country'].isna() == False]
clean_netflix_df1
clean_netflix_df1.drop_duplicates(['movie_title'], keep='last', inplace=True)

# Saving to a csv file
clean_netflix_df1.to_csv('movie_country_for_SQL.csv', index=None)

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

# Movie Matadata csv

In [6]:
csv_path = 'movies_metadata.csv'
movies_metadata_df = pd.read_csv(csv_path, low_memory=False)
movies_metadata_df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [7]:
movies_metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

## Cleaning database

In [8]:
# Creating a database with kaggle_id and movie_title columns
movie_df = movies_metadata_df[['id', 'original_title']]
movie_df.rename(columns={'id':'movie_id', 'original_title':'movie_title'}, inplace=True)
movie_df.info(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     45466 non-null  object
 1   movie_title  45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
# Removing rows with unwanted 'movie_id'
clean_df = movie_df.loc[movie_df['movie_id'].str.contains('-')==False]

# Converting string to integer
clean_df['movie_id'] = clean_df['movie_id'].astype(int)

# Removing commas from movie titles and replacing them with space 
# clean_df['movie_title'].replace({',': ''}, inplace=True)
clean_df["movie_title"] = clean_df["movie_title"].str.replace(",","")
clean_df["movie_title"] = clean_df["movie_title"].str.replace('"','')
clean_df["movie_title"] = clean_df["movie_title"].str.replace("'","")

# Dropping duplicates
clean_df.drop_duplicates(['movie_title'], keep='last', inplace=True)


clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43363 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     43363 non-null  int32
 1   movie_title  43363 non-null  object
dtypes: int32(1), object(1)
memory usage: 846.9+ KB

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
# Saving database to a csv file
clean_df.to_csv('metadata_movie_for_SQL.csv', index=None)

## Creating a database with imdb_id and movie_title columns

In [11]:
imdb_movie_df = movies_metadata_df[['imdb_id', 'original_title']]
imdb_movie_df.rename(columns={'original_title':'movie_title'}, inplace=True)

imdb_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdb_id      45449 non-null  object
 1   movie_title  45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [12]:
# Cleaning dataframe by dropping NAN values
imdb_movie_df = imdb_movie_df.dropna()


# Dropping duplicates
clean_imdb_movie = imdb_movie_df.drop_duplicates(keep=False)
clean_df.drop_duplicates(['movie_title'], keep='last', inplace=True)



# Removing commas from movie titles and replacing them with space 
# clean_df['movie_title'].replace({',': ''}, inplace=True)
clean_imdb_movie["movie_title"] = clean_imdb_movie["movie_title"].str.replace(",","")
clean_imdb_movie["movie_title"] = clean_imdb_movie["movie_title"].str.replace('"','')
clean_imdb_movie["movie_title"] = clean_imdb_movie["movie_title"].str.replace("'","")

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [13]:
# Adding IMDB URLs
imdb_url = []
for id in clean_imdb_movie["imdb_id"]:
    imdb_url.append(f"https://www.imdb.com/title/{id}")

clean_imdb_movie['imdb_url'] = imdb_url
clean_imdb_movie

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,imdb_id,movie_title,imdb_url
0,tt0114709,Toy Story,https://www.imdb.com/title/tt0114709
1,tt0113497,Jumanji,https://www.imdb.com/title/tt0113497
2,tt0113228,Grumpier Old Men,https://www.imdb.com/title/tt0113228
3,tt0114885,Waiting to Exhale,https://www.imdb.com/title/tt0114885
4,tt0113041,Father of the Bride Part II,https://www.imdb.com/title/tt0113041
...,...,...,...
45461,tt6209470,Ø±Ú¯ Ø®ÙˆØ§Ø¨,https://www.imdb.com/title/tt6209470
45462,tt2028550,Siglo ng Pagluluwal,https://www.imdb.com/title/tt2028550
45463,tt0303758,Betrayal,https://www.imdb.com/title/tt0303758
45464,tt0008536,Satana likuyushchiy,https://www.imdb.com/title/tt0008536
45465,tt6980792,Queerama,https://www.imdb.com/title/tt6980792

In [14]:
# Saving database to a csv file
clean_imdb_movie.to_csv('imdb_movie_df_for_SQL.csv', index=None)

# Movie Genre Dataframe

In [15]:
csv_path = 'movie_genre.csv'
movie_genre_df = pd.read_csv(csv_path, index_col=None)
movie_genre_df.head()

,movie_name,genre_id1,genre_1,genre_id2,genre_2,genre_id3,genre_3,genre_id4,genre_4,genre_id5,genre_5,genre_id6,genre_6,genre_id7,genre_7,genre_id8,genre_8
0,Toy Story,16,'Animation',35,'Comedy',10751,'Family',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jumanji,12,'Adventure',14,'Fantasy',10751,'Family',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Grumpier Old Men,10749,'Romance',35,'Comedy',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Waiting to Exhale,35,'Comedy',18,'Drama',10749,'Romance',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Father of the Bride Part II,35,'Comedy',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning dataframe

In [16]:
movie_genre_df = movie_genre_df.fillna('')
movie_genre_df.rename(columns={'movie_name':'movie_title'},inplace=True)

movie_genre_df.head()

,movie_title,genre_id1,genre_1,genre_id2,genre_2,genre_id3,genre_3,genre_id4,genre_4,genre_id5,genre_5,genre_id6,genre_6,genre_id7,genre_7,genre_id8,genre_8
0,Toy Story,16,'Animation',35,'Comedy',10751,'Family',,,,,,,,,,
1,Jumanji,12,'Adventure',14,'Fantasy',10751,'Family',,,,,,,,,,
2,Grumpier Old Men,10749,'Romance',35,'Comedy',,,,,,,,,,,,
3,Waiting to Exhale,35,'Comedy',18,'Drama',10749,'Romance',,,,,,,,,,
4,Father of the Bride Part II,35,'Comedy',,,,,,,,,,,,,,

In [17]:
for i in np.arange(1,9):
    dataframei = movie_genre_df[["movie_title",f"genre_{i}"]]
    dataframei[f"genre_{i}"] = dataframei[f'genre_{i}'].str.replace("'","")

    clean_dfi = dataframei.loc[dataframei[f'genre_{i}']!='']
    clean_dfi = clean_dfi.loc[clean_dfi['movie_title']!='']

    clean_dfi.drop_duplicates(['movie_title'], keep='last', inplace=True)

    clean_dfi.to_csv(f'genre_df{i}_for_SQL.csv', index=None)

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
from sqlalchemy import create_engine
from config import password

In [22]:
# Create the Database Engine - local server, the connection string will be as follows:
connection_string  = f"postgres://postgres:{password}@127.0.0.1:5432/ETL_Project"
    
# Create the database engine (to the PostgreSQL database)
engine = create_engine(f'postgresql://{connection_string}')

In [25]:
engine.table_names()

C:\Users\Nassim\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/14/e3q8)