In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import urllib
import requests

In [18]:
user_cols = ['user_id', 'gender', 'user_occupation','zipcode']
user_df = pd.read_csv('/Users/chipampe/Desktop/ETL_Project/Data user details/users data/ml-100k/u.user', header=None, delimiter='|',names=user_cols)
user_df

     user_id gender user_occupation zipcode
1         24      M      technician   85711
2         53      F           other   94043
3         23      M          writer   32067
4         24      M      technician   43537
5         33      F           other   15213
..       ...    ...             ...     ...
939       26      F         student   33319
940       32      M   administrator   02215
941       20      M         student   97229
942       48      F       librarian   78209
943       22      M         student   77841

[943 rows x 4 columns]

In [20]:
user_data2 = user_df.drop(['zipcode'], axis=1)
user_information = user_data2.set_index('user_id')
user_information

        gender user_occupation
user_id
24           M      technician
53           F           other
23           M          writer
24           M      technician
33           F           other
...        ...             ...
26           F         student
32           M   administrator
20           M         student
48           F       librarian
22           M         student

[943 rows x 2 columns]

In [21]:
user_information.to_csv('User_info.csv')